.heading {
    width: 1903px;
    text-align: left;
    height: 12%;
}

.heading button {
    float: right;
}

.Mario {
    width: 1903px;
}

video {
    background: url("game_console.png");
    background-size: cover;
    background-position: center;
    padding: 25px;
}

h4 {
    background-color: #f5f5f5;
    line-height: 2;
    margin: 0px;
}

#canvas{
    border: 5px orangered solid;
    height: 366px;
    width: 1240px;
    margin-top: 10px;
}